{% extends 'home/base.html' %}
{% load offer_tags %}

{% block content %}
<!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
      {% if offers %}
        <section id="main" class="main">
          <div class="inner">
            <header class="major">
              <h1>You're in luck!</h1>
              <p>
                Below are the green energy options we've found in your area.
                 Select "Make the switch" to switch providers with just a few clicks.
              </p>
            </header>

            <div class="pricing-table">
                <div class="pricing-container">
                    <div class="row">

                      {% for offer in offers %}
                        <div class="{% column_class_selector forloop.counter offers|length %}">
                            <div class="pricing">
                              <div class="pricing-table-inner">
                                  <div class="pricing-header">
                                      <div class="pricing-title">
                                        <p>{{ offer.esco }}</p>
                                      </div>
                                      <div class="pricing-rate">
                                        <div class="pricing-tooltip">
                                          <p><sup>$</sup> {% calculate_monthly_cost offer.rate_kwh %}<sup><i class="fa fa-question-circle-o"></i></sup>
                                            {% if offer.offer_type == "Variable" %}
                                              <span>First Month (Est.)</span></p>
                                            {% else %}
                                              <span>/Mo (Est.)</span></p>
                                            {% endif %}
                                          <span class="tooltip-text">
                                            Pricing is calculated using average US household energy consumption numbers. The actual offer rate is ${{ offer.rate_kwh }}/kwh. Pricing does not use any fees.
                                          </span>
                                        </div>
                                      </div>
                                      <ul class="actions vertical small">
                                        <li>
                                          <a href="{{ offer.url }}" class="button special fit cta" style="cursor: pointer;">Make the switch</a>
                                        </li>
                                      </ul>
                                  </div>

                                  <div class="pricing-list">
                                      <ul>
                                        <li>
                                          <div class="pricing-tooltip">
                                            <i class="fa fa-star"></i><strong>Renewable Score:</strong> {{ offer.renewable_score }} <sup><i class="fa fa-question-circle-o"></i></sup>
                                            <span class="tooltip-text">
                                              Renewable score represents our assessment of the carbon footprint reduction. More information <a href="#">here</a> . <!-- TODO(Mike): Add in educational link -->
                                            </span>
                                          </div>
                                        </li>
                                        <li><i class="fa fa-calendar"></i><strong>Contract Length:</strong>
                                          {% if offer.offer_type == "Variable" %}
                                            {{ offer.minimum_term }} <sup>*</sup>Price increases after first month.</li>
                                          {% else %}
                                            {{ offer.minimum_term }}
                                          {% endif %}
                                        {% if not offer.has_cancellation_fee %}
                                          <li><i class="fa fa-check"></i><strong>No</strong> Cancellation Fee</li>
                                        {% endif %}
                                        <li><i class="fa fa-bolt"></i><strong>Utility:</strong> {{ offer.utility_name }}</li>
                                        <li>
                                          <div class="pricing-tooltip">
                                            <i class="fa fa-usd"></i><strong>Rate:</strong> {% calculate_rate_in_cents offer.rate_kwh %}¢/kWh <sup><i class="fa fa-question-circle-o"></i></sup>
                                            <span class="tooltip-text">
                                              The rate represents the cost of energy per kwh (<a href="https://en.wikipedia.org/wiki/Kilowatt_hour" target="_blank" rel="nofollow">Kilowatt Hour</a>) used.
                                            </span>
                                          </div>
                                        </li>
                                      </ul>
                                  </div>
                              </div>
                            </div>
                        </div>
                      {% endfor %}

                    </div>
                </div>
            </div>
          </div>
        </section>
      {% else %}
        <section id="cta" class="main special">
          <div class="inner">
            <header class="major">
              <h1>Let's do this together!</h1>
              <p>
                Unfortunately, we couldn't find any clean energy providers in your area. But
                 don't worry, you can still reduce your footprint. Enter your email below to
                 stay in the loop.
              </p>
            </header>

            <form method="POST">
              {% csrf_token %}
              <ul class="actions">
                <div class="4u 12u$(small)" id="email_entry">
                  {{ email_entry_form.email }}
                </div>
              </ul>
              <input type="hidden" name="zipcode" id="zipcode" value="{{ input_zipcode }}" />
              <ul class="actions">
                <li><input class="button special big" type="submit" value="Keep Me Posted" /></li>
              </ul>
            </form>
          </div>
        </section>
      {% endif %}
  </div>
{% endblock %}
